*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
h1, h2{
    text-align: center;
}

nav {
    background-color: lightpink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;

}
main{
    margin-top: 62px;
}

.container{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    justify-content: center;
}
.box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    min-width: 100px;
    background-color: lightpink;
}
.kultur-knapp {
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
  }

  #kultur-tekst {
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    max-width: 600px;
    margin: 20px auto;
  }
  .knapp-bilde {
    width: 30px;
    height: auto;
    margin-right: 10px;
}